{% extends 'components/sesion.html'%}
{% load staticfiles %}
{% block fila%} 
	<img class="user" src="{% static 'img/users.png' %}">
	<input class="username" type="type" name="username" id="username" placeholder="Nombre de usuario">
	<input class="password" type="password" name="password" id="password" placeholder="Contraseña">
	<div class="filaRecordar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 recordar">
					<input type="checkbox" name="recordar" id="recordar">
					<label>Recordarme</label>
				</div>
				<div class="col-md-6 olvido">
					<a href="/user/reset_password">Olvide la contraseña?</a>
				</div>
			</div>
		</div>	
	</div>
	<a class="ingresar" id="ingresar" href="#">Ingresar</a>
	<a class="registro" id="registro" href="#">Registrarme</a>
{% endblock%}