{% extends 'components/plantilla.html'%}
{% load staticfiles %}
{% block body%}
<div class="container">
	<div class="row text-center justify-content-md-center">
		<div class="col-lg-4 col-md-12 area1">
			<h5>FINANCIERO</h5>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h6>Objetivo</h6>
					</div>
					<div class="col-md-3">
						<h6>Indicador</h6>
					</div>
					<div class="col-md-3">
						<h6>Meta</h6>
					</div>
					<div class="col-md-3">
						<h6>Iniciativa</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-4 col-md-12 area2">
			<h5>CLIENTE</h5>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h6>Objetivo</h6>
					</div>
					<div class="col-md-3">
						<h6>Indicador</h6>
					</div>
					<div class="col-md-3">
						<h6>Meta</h6>
					</div>
					<div class="col-md-3">
						<h6>Iniciativa</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 vision">
			<span>VISIÓN ESTRATEGICA</span>
		</div>
		<div class="col-lg-4 col-md-12 area3">
			<h5>PROCESOS INTERNOS</h5>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h6>Objetivo</h6>
					</div>
					<div class="col-md-3">
						<h6>Indicador</h6>
					</div>
					<div class="col-md-3">
						<h6>Meta</h6>
					</div>
					<div class="col-md-3">
						<h6>Iniciativa</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center justify-content-md-center">
		<div class="col-lg-4 col-md-12 area4">
			<h5>APRENDIZAJE Y CRECIMIENTO</h5>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h6>Objetivo</h6>
					</div>
					<div class="col-md-3">
						<h6>Indicador</h6>
					</div>
					<div class="col-md-3">
						<h6>Meta</h6>
					</div>
					<div class="col-md-3">
						<h6>Iniciativa</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
					<div class="col-md-3">
						<div class="boxObjetivo"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
{% endblock%}