/* Login */
.login{
	background-color: #f2f2f2;
	height: 100vh;
}
.login .fila{
	height: 90vh;
    padding: 10vh 0vh;
}
.logo{
	border-right: solid 1px #33297B;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.formLogin{
	text-align: center;
	margin: auto;
}
.user{
	width: 137px;
	display: block;
	margin: auto;
}
.username{
	display: block;
	margin: auto;
	width: 60%;
	height: 40px;
	background-image:url(../img/user.png); 
	background-repeat: no-repeat; 
	background-size: 30px;
	background-position: 2px 3px;
	text-align: center;
	border: solid 1px #DDDDDD;
}
.password{
	display: block;
	margin: auto;
	width: 60%;
	height: 40px;
	background-image:url(../img/lock.png); 
	background-repeat: no-repeat; 
	background-size: 30px;
	background-position: 2px 3px;
	text-align: center;
	margin: 20px auto;
	border: solid 1px #DDDDDD;
}
.filaRecordar{
	margin:0 20%;
}
.recordar{
	text-align: left;
	
}
.olvido{
	text-align: right;
}
.ingresar{
	display: block;
	margin: auto;
	width: 60%;
	height: 35px;
	background-color: #33297B;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
}
.registro{
	text-align: right;
    display: block;
	margin: auto 20%;
	padding-top: 50px;
}
@media (max-width:992px) {
	.login{
		height: inherit;
	}
	.login .fila {
	    height: inherit;
	    padding: 0;
	}
	.logo {
	    border-right: none;
	    display: block;
	    justify-content: inherit;
	    align-items: inherit;
	    text-align: center;
	}
	.logo img{
		width: 400px;
    	margin-top: 80px;
	}
	body {
	    background-color: #f2f2f2;

	}
	.formLogin {
	    margin-top: 20%;
	}
	.user {
	    width: 300px;
	}
	.username,.password{
		height: 100px;
	    background-size: 90px;
	    font-size: 35px;
	    text-align: left;
	    padding-left: 100px;
	    width: 90%;
	}
	.filaRecordar {
	    margin: 0 5%;
	}
	.recordar {
	    text-align: left;
	    font-size: 35px;
	}
	.recordar input {
	    height: 35px;
	    width: 35px;
	}
	.olvido {
	    text-align: right;
	    font-size: 35px;
	}
	.ingresar{
	    font-size: 40px;
	    width: 90%;
	    height: 80px;
	}
	.registro {
	    margin: auto 5%;
	    font-size: 35px;
	}
}
/* End Login */
/* reset_password */
.email_reset{
	display: block;
	margin: auto;
	width: 60%;
	height: 40px;
	text-align: center;
	margin: 20px auto;
	border: solid 1px #DDDDDD;
}
.recuperar_reset{
	display: block;
	margin: auto;
	width: 60%;
	height: 35px;
	background-color: #33297B;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
}
@media (max-width:992px) {
	.email_reset{
		height: 100px;
	    background-size: 90px;
	    font-size: 35px;
	    text-align: center;
	    width: 90%;
	}
	.recuperar_reset{
	    font-size: 40px;
	    width: 90%;
	    height: 80px;
	}
}
/* End reset_password */
/* registry */
.input_registry{
	display: block;
	margin: auto;
	width: 60%;
	height: 40px;
	text-align: center;
	margin: 20px auto;
	border: solid 1px #DDDDDD;
}
.registry{
	display: block;
	margin: auto;
	width: 60%;
	height: 35px;
	background-color: #33297B;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
}
@media (max-width:992px) {
	.input_registry{
		height: 100px;
	    background-size: 90px;
	    font-size: 35px;
	    text-align: center;
	    width: 90%;
	}
	.registry{
	    font-size: 40px;
	    width: 90%;
	    height: 80px;
	}
}
/* End registry */
/* panel */
.panel{
	height: 100vh;
    background-color: #f2f2f2;
}
.panel .fila{
	padding: 40px;
}
.logoPanel{
	text-align: center;
}
.objetivos{
	background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
}
.filaObjetivo{
	border-top: 1px solid black;
}
.filaObjetivo span{
	font-size: 25px;
	margin-left: 20px;
}
.filaObjetivo img{
	cursor: pointer;
	margin-left: 40px; 
}
.desObjetivo{
	padding: 5px 40px;
	border-top: 1px solid black;
}
.desObjetivo input{
	width: 20px;
	height: 20px;
}
.desObjetivo img{
	float: right;
}
.scrollObjetivo{
	height: 192px;
	overflow-y: scroll;
}
#cliente,#humana,#i_d{
		display: none;
}
.iconosObj{
	display: inline-block;
    float: right;
    margin-right: 40px;
    padding: 5px 0px;
}
.bsc{
	margin: 20px;
    float: right;
    background-color: #fd7e14;
    color: white !important;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none !important;
}
.crearObjetivo{
	margin: 10px 0px;
}
.crearObjetivo span{
	font-size: 25px;
}
.crearObjetivo textarea{
	width: 100%;
	border-radius: 10px;
	height: 80px;
}
.editar{
	background-color: rgba(255,193,7,0.8);
	border-color: rgba(255,193,7,0.8);
}
.editar:hover{
	background-color: rgba(255,193,7,1);
	border-color: rgba(255,193,7,1);
}
.delete{
	text-align: center;
	padding: 40px 0px;
}
.seguro{
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 30px;
	background-color: white;
	border-color: black;
	color: black;
}
.seguro:hover{
	background-color: white;
	border-color: black;
	color: black;
}
.cancelar{
	margin-left: 40px;
	margin-top: 20px;
	padding: 5px 30px;
	margin-bottom: 20px;
	background-color: black;
	border-color: black;
	color: white;
}
.cancelar:hover{
	background-color: black;
	border-color: black;
	color: white;
}
.recuadro{
	width: 100%;
	height: 80%;
	background-color: white;
}
.view{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
 }
 .view .modal-content{
 	height: 40vh;
 }
 .contentView .container,.contentView .row{
 	height: 100%;
 }
 .contentView {
    background-color: #6ACB9A;
    color: white;
}
.flecha{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.contentView .col-md{
	padding: 0px;
}
.area1{
	background-color: #6ACB9A;
	color: white;
	padding-right: 0;
    padding-left: 0;
}
.area2{
	background-color: #FFCD28;
	color: white;
	padding-right: 0;
    padding-left: 0;
}
.area3{
	background-color: #01087C;
	color: white;
	padding-right: 0;
    padding-left: 0;
}
.area4{
	background-color: #5C73F2;
	color: white;
	padding-right: 0;
    padding-left: 0;
}
.area1 .container,.area2 .container,.area3 .container,.area4 .container{
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 200px;
	padding-right: 40px;
}
.boxObjetivo{
    height: 80px;
    width: 80px;
    background-color: white;
    margin-bottom: 5px;
}
.vision{
	display: flex;
    justify-content: center;
    align-items: center;
}
.vision span{
	    background-color: red;
    color: white;
    padding: 30px 50px;
    font-size: 20px;
}
@media (max-width:992px) {
	.bienvenido{
		text-align: center;
    	font-size: 100px;
	}
	.logoPanel img{
		width: 200px;
	}
	.logoPanel h3{
		font-size: 60px;
	}
	.filaObjetivo img {
		width: 70px;
		padding: 20px 0px;
	}
	.filaObjetivo span {
		font-size: 60px;
	}
	.desObjetivo input {
	    width: 40px;
	    height: 40px;
	}
	.desObjetivo span{
		font-size: 30px;
	}
	.desObjetivo img{
		padding: 0;
	}
	.desObjetivo {
	    padding: 40px 40px;
	}
	.scrollObjetivo {
	    height: 530px;
	}
	.bsc{
		font-size: 50px;
	}
	.modal-dialog {
	    max-width: 800px;
	}	
	.modal-title{
	    font-size: 80px;
	    margin-left: 40px;
	}
	.modal-header span{
		font-size: 80px;
		margin-right: 20px;
	}
	.crearObjetivo span {
	    font-size: 80px;
	}
	.crearObjetivo textarea {
	    width: 100%;
	    border-radius: 10px;
	    height: 200px;
	    font-size: 50px;
	}
	.modal-footer button{
		font-size: 50px;
	}
	.view {
	    max-width: 90%;
	    display: flex;
	    justify-content: inherit;
	    align-items: inherit;
	    height: 100%;
	    margin: 10px 50px;
	}
	.recuadro {
    	height: 300px;
    }
    .contentView h4{
    	font-size: 50px;
    }
    .flecha img {
	    transform: rotate(90deg);
	}
	.flecha {
	    display: block;
	    justify-content: inherit;
	    align-items: inherit;
	    padding: 0px;
	    text-align: right;
	}
	.vision{
		display: none;
	}
	.area1 h5,.area2 h5,.area3 h5,.area4 h5{
		font-size: 50px;
	}
	.area1 h6,.area2 h6,.area3 h6,.area4 h6{
		font-size: 40px;
	}
	.boxObjetivo {
	    height: 143px;
	    width: 143px
	}
	.area1,.area2,.area3,.area4{
	    margin-bottom: 20px;
	}
	.area1 .container, .area2 .container, .area3 .container, .area4 .container {
	    max-height: 350px;
	}
}
/* End panel */

